@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
}

nav{
    padding: 28px 0 22px;
    background-color: black;
}

.navbar {
    display:flex;
    justify-content:space-between ;
    align-items:center;

    
}

.navbar a {
    color: white;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 2.28px;
    word-wrap: break-word;
    text-transform: uppercase;
 
}
main{
    background-image: url(./img/unsplash_NTYYL9Eb9y8.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 102px 0;
}
#products{
    background-color: black;
    padding: 70px 120px 95px 110px;

}
#products h1{
color: #FD7D54;
font-size: 64px;
font-weight: 800;
letter-spacing: 19.20px;
word-wrap: break-word;
text-align: center;
margin-bottom: 18px;

}
#products > p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.60px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 50px; 
}
.box-cards{
    display: flex;
    gap: 85px;

}

.card{
    padding: 45px 33px 25px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
   
   
   
  

}
.card h3{
color: white;
font-size: 27px;
font-weight: 800;
letter-spacing: 3.24px;
word-wrap: break-word;
text-transform: uppercase;
margin-top: 40px;
text-align: center;
}
.card span{
    width: 23px;
    height: 3px;
    background-color: white;
    margin: 18px 0 17px;
   margin-left: 130px;


}
.card p{
color: white;
font-size: 18px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.54px;
word-wrap: break-word;
text-align: center;
margin-bottom: 25px;

}
.card a{
color: #41C3F6;
font-size: 19px;
font-weight: 800;
letter-spacing: 2.28px;
word-wrap: break-word;
text-transform: uppercase;
text-align: center;

}


footer{
    background-color: black;
    padding: 16px 0;

}
footer p{
color: white;
font-size: 12px;
font-weight: 700;
letter-spacing: 1.20px;
word-wrap: break-word;
text-align: center;


}





 
 
 
 
 
















 
 
 
 
 


 
 
 
 
 



